<div style="height: 100vh;display:flex;flex-direction:column;justify-content:space-evenly;align-items:center">
    <div style="text-align:center">
        <h1>Usuario '{{user_info}}' no autorizado para acceder a {{url}}</h1>
        <br>
        <h2>Contacte al Administrador del sistema</h2>
    </div>
    <a href="/home" class="button-home">Volver a inicio</a>
</div>