

<div class="box">
    <h1>
        ¡Bienvenido a la aplicación de chat comunitario!
    </h1>
    <label for="email">Email:</label>
    <input class="chatBox" name="email" type="text" id="email">
    <label for="chatBox">Mensaje:</label>
    <input class="chatBox" name="chatBox" type="text" id="chatBox">
    <button id="submit-button" onclick="send_message()">Enviar Mensaje</button>

    <div id="messageLogs">

    </div>

</div>



<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/chat.js"></script>