<div class="box">
    {{#each files}}
        <div class="box-file">
            <h1>Field: {{this.fieldname}}</h1>
            <h2>File Uploaded: {{this.originalname}}</h2>
        </div>
    {{/each}}
</div>