<div class="user-box">
    <form class="user-form" method="post" action="/api/sessions/forgot">
        <h1>Forgot Password</h1>
        <label for="email">Email</label>
        <input class="input-text" type="email" name="email" id="email">
        <button type="submit" class="button-home">Send Email</button>
    </form>
</div>