<div class="navbar">
    <a href="/login">Login</a>
    <a href="/register">Register</a>
</div>

<div class="welcome-box" style="margin-top: 20px;">
    <h1>Welcome to our eccomerce!</h1>
    <h3>To get started, create an account</h3>
</div>