<div class="user-box">
    <h1>Restore</h1>
    <form class="user-form" method="post" action="/api/sessions/restore">
        <label for="email">Email</label>
        <input class="input-text" type="email" name="email" >

        <label for="password">New Password</label>
        <input class="input-text" type="password" name="password">

        <button type="submit" class="button-home">Submit</button>
    </form>
</div>